<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/myStyle.css" />
		<title>Catering</title>
	</head>
	<body>
		<header></header>
		<nav> 
			<div><a th:href="@{/admin/chef}">Inserisci Chef</a></div>
			<div><a th:href="@{/admin/buffet}">Inserisci Buffet</a></div>
			<div><a th:href="@{/admin/piatto}">Inserisci Piatto</a></div>
			<div><a th:href="@{/admin/ingrediente}">Inserisci ingrediente</a></div>
			<div><a th:href="@{/admin/deleteChef}">Elimina Chef</a></div>
			<div><a th:href="@{/admin/deleteBuffet}">Elimina buffet</a></div>
			<div><a th:href="@{/admin/deletePiatto}">Elimina Piatto</a></div>
			<div><a th:href="@{/chefAll}">Elenco chef</a></div>
			<div><a th:href="@{/buffetAll}">Elenco Buffet</a></div>
			<div><a th:href="@{/piattoAll}">Elenco Piatti</a></div>
			<div><a th:href="@{/ingredienteAll}">Elenco Ingredienti</a></div>
		</nav> 
	</body>
</html>
