<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/myStyle.css" />
		<title>Dettagli chef</title>
	</head>
	<body>
		<header></header>
		<nav>
			<a th:href="@{/}" >Home </a> |
			<a href="/buffetAll" > Elenco buffet </a> |
			<a th:href="@{/chefAll}" > Elenco chef</a>	
		</nav>
		<section>
		    <div>
			    <h4>Dettagli chef</h4>
				<div th:if="${chef}">
					<span th:text="${chef.nome}">nome</span>
					<span th:text="${chef.cognome}">cognome</span>
					<span th:text="${chef.nazionalita}">nazionalita</span>
				</div>
				
				<div th:if="${buffetAll}">
					<ul>
				        <li th:each="buffet : ${buffetAll}">
				          <a href="buffet.html" th:href="@{'/buffetAll' + '/' + ${buffet.id}}" th:text="|${buffet.nome} ${buffet.descrizione}|"> prova</a>
				        </li>
				    </ul>
			    </div>
			    
			    <div th:unless="${buffetAll}">---</div>
				<div th:unless="${chef}">Non esiste</div>
		    </div>
		</section>
	</body>
</html>
