<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/myStyle.css" />
</head>
<body>

<header></header>
	<nav>
			<a th:href="@{/}" >Home </a> |
			<a href="/buffetAll" > Elenco buffet </a> |
			<a th:href="@{/chefAll}" > Elenco chef</a>
	</nav>
	<section> 

		<h4>Login</h4>
	
	<form th:action="@{/login}" method="POST">
		
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		
	</form>
   </section> 
</body>
</html>