<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Elimina buffet</title>
<link rel="stylesheet" href="/css/myStyle.css" />
</head>
<body>
<header></header>
	<nav>
			<a th:href="@{/}" >Home </a> |
			<a href="/buffetAll" > Elenco buffet </a> |
			<a th:href="@{/chefAll}" > Elenco chef</a>
	</nav>
	<section>
	
      <h4>Lista buffet</h4>
      <form th:action="@{/admin/deleteBuffet}" method="POST">
        <ul>
          <li th:each="buffet : ${buffetAll}">
            <div>
              <input type="radio" name="buffet" th:value="${buffet.id}"/>
              <label th:text="|${buffet.nome} ${buffet.descrizione}|"></label>
            </div>
            
          </li>
        </ul>
        <div>
          <span><button type="submit">Elimina</button></span>
        </div>
    	</form>
	
    </section>
            
	
</body>
</html>
