<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Chef</title>
			<link rel="stylesheet" href="/css/myStyle.css" />

	</head>
	<body>
	<header></header>
	<nav>
		<a th:href="@{/}" >Home </a> |
		<a href="/buffetAll" > Elenco buffet </a> |
		<a th:href="@{/chefAll}" > Elenco chef</a>
		
		
	
</nav>
<section>
		<div>
			<h4>Elenco chef:</h4>
			<ul>
				<li th:each="chef : ${chefAll}">
					<a href="chef.html" th:href="@{'/chefAll' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</a>
					
				</li>
			</ul>
		
		 </div>
		</section>
		
		
	</body>
</html>